HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Keys/Secrets ###
application-dev.properties
application.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/.mvn/

### Client Dependencies ###
src/client/node_modules
src/client/.pnp
src/client/.pnp.js

# testing
src/client/coverage

# production
src/client/build

# misc
src/client/.DS_Store
src/client/.env.local
src/client/.env.development.local
src/client/.env.test.local
src/client/.env.production.local

src/client/npm-debug.log*
src/client/yarn-debug.log*
src/client/yarn-error.log*
/src/client/public/manifest.json
/src/client/README.md
/src/client/public/robots.txt
/src/client/public/logo512.png
/src/client/public/logo192.png
